<!DOCTYPE html>
<html lang="en" ng-app="WannaGo">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Создание тура</title>

        <link rel="icon" href="img/core-img/favicon.ico">
        <link href="style.css" rel="stylesheet">
        <link href="css/responsive/responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./components/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="./css/dialog.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
        <script src="./js/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: '#creating-tour-textarea'
            });
          </script>
        <script src="https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=c599e8af-8b29-4e69-a3e3-36e1d42ba028" type="text/javascript"></script>
        <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
        <script src="js/router.js" type="text/javascript"></script>
    </head>

    <body>
        <div class="creating-tour" ng-controller="mainController">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="./index.html">Главная</a></li>
                    <li><a href="./tour-list.html">Туры</a></li>
                    <li>Создание тура</li>
                </ul>
            </div>
            <div class="container">
                <div>
                    <h2 class="tour-catalog">Создание тура</h2>
                </div>
                <div class="creating-tour-preview">
                    <h3>Превью</h3>
                    <div class="row">
                        <div class="col-md-7 creating-tour-preview-area">
                            <div class="preview-area-tour-name">
                                <p class="preview-area-caption">Название</p>
                                <p class="preview-area-caption-max-sym">*максимум 20 символов</p>
                                <input class="preview-input-tour-name" maxlength="20" ng-model="trip.title">
                            </div>
                            <div class="preview-area-short-description">
                                <p class="preview-area-caption">Краткое описание</p>
                                <p class="preview-area-caption-max-sym">*максимум 650 символов</p>
                                <textarea class="preview-textarea" maxlength="650" ng-model="trip.shortTitle"></textarea>
                            </div>
                            <div class="preview-area-route-options">
                                <p class="preview-area-caption-param-route">Параметры маршрута</p>
                                <p class="preview-area-caption-param">Стоимость</p>
                                <div class="preview-area-tour-params">
                                    <div>
                                        <p>Время в пути</p>
                                        <input class="preview-area-tour-time" placeholder="5 дней" type="number" ng-model="trip.duration">
                                    </div>
                                    <div>
                                        <p>Расстояние</p>
                                        <input class="preview-area-tour-time" placeholder="5 км" type="number" ng-model="trip.length">
                                    </div>
                                    <div>
                                        <p>Сложность</p>
                                        <select class="preview-area-select" name="complexity" ng-model="trip.level">
                                            <option disabled>1</option>
                                            <option value="option">1</option>
                                            <option value="option1">2</option>
                                            <option value="option2">3</option>
                                            <option value="option3">4</option>
                                        </select>
                                    </div>
                                    <div class="preview-area-tour-price">
                                        <input class="oewq" placeholder="200 ₽" type="number" ng-model="trip.price">
                                    </div>
                                </div>
                                <div></div>
                                <div class="preview-area-tour-country-params">
                                    <div>
                                        <p>Страна</p>
                                        <input class="preview-area-tour-time" placeholder="Россия" type="text" pattern="^[А-Яа-яЁё\s]+$" ng-model="trip.country">
                                    </div>
                                    <div>
                                        <p>Регион</p>
                                        <select class="preview-area-select" name="region">
                                            <option disabled>Москва</option>
                                            <option value="option">Карелия</option>
                                            <option value="option1">Крым</option>
                                            <option value="option2">Дагестан</option>
                                            <option value="option3">Якутия</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 preview-area-tour-photo">
                            <p class="preview-area-caption-param">Загрузите фото превью</p>
                            <div class="preview-photo">
                                <div id="drop-zone">
                                    <input type="file" name="file" id="file-uploader" file-model = "myFile" accept=".jpg, .jpeg, .png" hidden>
                                    <label for="file-uploader" class="file-upload">Выберите файл</label>
                                </div>
                                <div id="content">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="creating-tour-list">
                    <h3>Страница машрута</h3>
                    <div class="creating-tour-area">
                        <form method="post">
                            <textarea id="creating-tour-textarea" ng-model="trip.description"></textarea>
                        </form>
                </div>
                <div class="preview-photo-buttons">
                    <button class="btn preview-button-cancel">Отменить</button>
                    <button class="btn preview-button-save" ng-click="createTour()">Сохранить</button>
                </div>
            </div>
                <div class="creating-tour-map">
                    <h3>Создание карты</h3>
                    <div class="creating-tour-map-area">
                        <div id="map"></div>
                        <button value="Enable the route editor" id="editor" name="start">Enable the route editor</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/angScripts/index.js"></script>
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <script src="js/bootstrap/popper.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script src="js/others/plugins.js"></script>
        <script src="js/create-route.js"></script>
        <script src="js/header.js"></script>
        <script src="js/footer.js"></script>
        <script src="./components/jquery-ui/jquery-ui.min.js"></script>
        
    </body>
</html>