<!DOCTYPE html>
<html lang="en" ng-app="WannaGo">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Избранное</title>

        <link rel="icon" href="img/core-img/favicon.ico">
        <link href="style.css" rel="stylesheet">
        <link href="css/responsive/responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./components/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="./css/dialog.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    </head>

    <body ng-controller="favoritesTourController">
        <!-- <div class="purchased-routes-not-login" ng-show="!isUserLoggedIn()">
            <div class="container">
                <p>Авторизуйтесь для просмотра этой страницы</p>
            </div>
        </div> -->

        <div class="favorites">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="./index.html">Главная</a></li>
                    <li><a href="./tour-list.html">Туры</a></li>
                    <li>Избранное</li>
                </ul>
            </div>
            <div class="container">
                <div>
                    <h2 class="tour-catalog">Избранное</h2>
                </div>
                <div class="favorites-area">
                    <div class="grid-container favorites-table">
                        <div class="favorites-block" ng-repeat="t in tripsList">
                            <div class="favorites-second-block">
                                <div class="favorites-user-name-block">
                                    <img src={{t.author.avatar}}>
                                    <div class="favorites-user-name">{{t.author.firstName + '\n' + t.author.lastName}}</div>
                                    <div class="purchased-routes-rating-block">
                                        <div class="favorites-rating-mini">
                                            <span class="active"></span>
                                            <span class="active"></span>
                                            <span class="active"></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <p class="favorites-route-evaluation">187 оценок</p>
                                    </div>
                                </div>
                                <div class="favorites-image">
                                    <img src={{t.image}}>
                                </div>
                                <div class="favorites-grad-image">
                                    <img src="img//tour-list/tour-list-image2.png">
                                </div>
                                <div class="favorites-second-block-button" ng-show="!t.isPurchared">
                                    <div class="tour-list-cost">{{t.price}}</div>
                                    <button class="tour-list-btn-favorites" ng-show="!checkIsFavOrBuy(t.isFavorite)" ng-click="addToFavorite(t.id)"></button>
                                    <button class="tour-list-btn-favorites-true" ng-show="checkIsFavOrBuy(t.isFavorite)" ng-click="delFromFavorites(t.id)"></button>
                                    <button class="btn btn-submit tour-list-btn-buy-tour" ng-click="addToPurchased(t.id)">Купить</button>
                                </div>
                                <div class="favorites-second-block-button" ng-show="t.isPurchared">
                                    <button class="tour-list-btn-favorites" ng-show="!checkIsFavOrBuy(t.isFavorite)" ng-click="addToFavorite(t.id)"></button>
                                    <button class="tour-list-btn-favorites-true" ng-show="checkIsFavOrBuy(t.isFavorite)" ng-click="delFromFavorites(t.id)"></button>
                                    <button class="btn btn-submit tour-list-btn-buy-tourer" ng-click="redirect('./tour-page.html?tourId=' + t.id)">Посмотреть</button>
                                </div>
<!--                                <div class="favorites-second-block-button">-->
<!--                                    <div class="favorites-cost">{{t.price}}</div>-->
<!--                                    <button class="tour-list-btn-favorites" ng-show="!checkFav(t.isFavorite)" ng-click="addToFavorite(t.id)"></button>-->
<!--                                    <button class="tour-list-btn-favorites-true" ng-show="checkFav(t.isFavorite)" ng-click="delFromFavorites(t.id)"></button>-->
<!--                                    <button  class="btn btn-submit tour-list-btn-buy-tour" ng-click="addToPurchased(t.id)">Купить</button>-->
<!--                                </div>-->
                            </div>
                            <div class="favorites-first-block">
                                <a class="favorites-first-block-link" href="./tour-page.html?tourId={{t.id}}">
                                    <div class="favorites-place-name">{{t.title}}</div>
                                    <div class="favorites-bottom-block">
                                        <div><span>Время в пути</span>
                                            <div class="bottom-block-info">
                                                <img src="./img/icons/tour-list-1.png">
                                                <p>{{t.duration}} дня</p>
                                            </div>
                                        </div>
                                        <div><span>Расстояние</span>
                                            <div class="bottom-block-info">
                                                <img src="./img/icons/tour-list-2.png">
                                                <p>{{t.length}} км</p>
                                            </div>
                                        </div>
                                        <div><span>Сложность</span>
                                            <div class="bottom-block-info">
                                                <img src="./img/icons/tour-list-3.png">
                                                <p>{{t.level}}/5</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="favorites-description-text">{{t.shortTitle}}</div>
                                </a>
                            </div>
                        </div>
                        <div class="favorites-area-see-more text-center">
                            <button class="btn-favorites-see-more" ng-show="trips.length > 9">Смотреть больше</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/angScripts/index.js"></script>
        <script src="js/angScripts/favoritesToursController.js"></script>
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <script src="js/bootstrap/popper.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script src="js/others/plugins.js"></script>
        <script src="js/tour-list.js"></script>
        <script src="js/header.js"></script>
        <script src="js/footer.js"></script>
        <script src="./components/jquery-ui/jquery-ui.min.js"></script>
        
    </body>
</html>